body{
    background-color: grey;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1{
    padding-top: 50px;;
}

#stepOne {
    padding: 10px 5px;
    background-color: lightcoral;
}

#stepTwo{
    padding: 10px 5px;
    background-color: lightskyblue;
}

#resultMessage{

    padding: 20px 5px;
    background-color: aquamarine;
}

#makeTea {
    padding: 15px 5px;
}


#makeTea button{

    padding: 20px 150px;
    background-color:moccasin;
    color: saddlebrown;
}


#makeTea button:hover{
    background-color: aquamarine;
    color: white;
}


#pourTea {
    padding: 15px 5px;
}


#pourTea button{

    padding: 20px 150px;
    background-color:moccasin;
    color: saddlebrown;
}


#pourTea button:hover{
    background-color: aquamarine;
    color: white;
}

#stepOne button, input{
    margin: 10px;
    padding: 20px;
    color: lightcoral;
}


.herbalTea:hover{
    background-color: greenyellow;
    color: white;
}


.blackTea:hover{
    background-color: rgb(30, 37, 37);
    color: white;
}




.customTeaType{
    width: 98%;
}

#sugarAmount{
    width: 6%;
    height: 5%;
    border-radius: 15%;
}

#cupSize{
    color: lightskyblue;
    width: 150px;
    height: 50px;

}